.formWrapper {
  max-width: 600px;
  max-height: 300px;
  margin: auto;
  margin-top: 10%;
}

.message {
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.form {
  display: flex;
  gap: 5px;
}

.btn {
  background-color: aquamarine;
  width: 100px;
  padding: 5px;
  border: 1px solid transparent;
  outline: transparent;
  border-radius: 5px;
  transition: box-shadow 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px 10px green;
}

.input {
  width: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: transparent;
  height: 20px;
  padding: 5px 10px;
  transition: all 250ms ease-in-out;
}

.input:hover,
.input:focus {
  border: 1px solid black;
  box-shadow: 2px 2px 10px black;
}

.error {
  display: block;
  padding: 5px;
  background-color: gray;
  border-radius: 5px;
  color: white;
}
