.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  border-radius: 50px;
  border: #292929 solid 1px;
  z-index: 1000;
}

.link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.9s ease-in-out, color 0.4s ease-out;
  position: relative;
}
.link:hover {
  transform: scale(1.2);
}
.link.active {
  color: rgb(195, 5, 5);
}
.link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: rgb(195, 5, 5);
  border-radius: 50%;
}
